body {
    margin: 0;
    background-color: rgb(226, 230, 217);
}

.articles {
    display: grid;
    grid-template: 1fr;
    grid: 15px;

    width: 80vw;
    height: 40vh;

    /* Centering */
    margin: 0 auto;
}

.article {
    background-color: rgb(210, 230, 230);
    margin-bottom: 1rem;

    display: grid;
    border-radius: 0.7rem;

}

.art_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #994843;
    margin: 50px;

}

.art_content {

}